<h1>このサイトについて</h1>

<h2>使い方</h2>
<div class="p-2">
  <ol class="list-decimal p-2">
    <li>
      みんなの資質あるあるを登録しましょう！
    </li>
    <li>
      みんなで資質のあるある情報を共有・拡散し、楽しく盛り上げましょう！
    </li>
  </ol>
</div>

<h2>留意事項</h2>
<div class="p-2">
  <ul class="list-disc p-2">
    <li>
      <div class="text-red-500">
        問題・要望等、何かありましたら、管理者（
        <%= link_to 'にゅ～ぶる', 'https://x.com/newburu', {target: '_blank', class: "link"} %>
        ）までご連絡ください。
      </div>
    </li>
    <li>
      <div class="text-red-500">
        重要なデータ・個人情報の登録はしないでください。
      </div>
    </li>
  </ul>
</div>

<h2>ご連絡</h2>
<div class="p-2">
  <ul class="list-disc p-2">
    <li>
      問い合わせ・ご要望等ありましたら、X(
      <%= link_to '@newburu', 'https://x.com/newburu', {target: '_blank', class: "link"} %>
      )にて、ご連絡お願いします。
    </li>
    <li>
      当サイトはリンクフリーです。ご自由にリンク下さい。
      <br>
      ※ただ、ご連絡いただけると、にゅ～ぶるは喜びます(*/∇＼*)
      <br>
      バナー等はありませんし、サイト名/URLも突如変わる可能性もあります事、ご了承ください。
    <li>
      いろんな所でエラーになる可能性もあります。
      <br>
      しかし、「公開優先！使って貰いながらブラッシュアップ！」をモットーにやっていますので、ご理解いただけると幸いです。
    </li>
  </ul>
</div>
