<%= render @article %>

<div>
  <%= link_to t("btn.edit"), edit_article_path(@article), class: "btn btn-primary rounded-md" %>
  <%= link_to t("btn.back"), articles_path, class: "btn btn-primary rounded-md" %>

  <%= link_to t("btn.destroy"), @article, data: { "turbo-method": :delete, "turbo-confirm": t("confirm.destroy")}, class: "btn btn-warning rounded-md" %>
</div>
