<% content_for :title, t(".title") %>

<h1><%= t(".title") %></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t("btn.show"), @user, class: "btn btn-primary rounded-md" %>
  <%= link_to t("btn.back"), users_path, class: "btn btn-primary rounded-md" %>
</div>
